@font-face {
    font-family: lato;
    src: url(fonts/lato.ttf);  
}

@font-face {
    font-family: opensans;
    src: url(fonts/opensans.ttf);  
}
@font-face {
    font-family: opensans-light;
    src: url(fonts/opensans-light.ttf);  
}
@font-face {
    font-family: gotham-black;
    src: url(fonts/gotham-black.ttf);  
}


html{
    font-family: "lato", "PT Sans", "Arial", sans-serif;
    font-size: 13px;
}
h2 {
    font-family: "gotham-black", "PT Sans", "Arial", sans-serif;
    font-size: 2.8rem;
    text-transform: uppercase;
}
*:focus {
    outline: none
   }
.navbar{
    height: 90px;
}
a.nav-link {
    color: #998866;
    font-size: 14px;

}
.nav-item.active  .nav-link{
    background-color: #ffbb42;
    border-radius: 2px;
    color: #fff;
}
.navbar-light .navbar-nav .nav-link {
    color: #868686;  
}
.navbar-light .navbar-nav .nav-item.active .nav-link {
    color: #fff;
}
.banner {
    background-color: #709dca;
    color: #fff;
    text-align: center;
    margin-bottom: 0;

}
.banner h2, .service h2 {
    font-family: "gotham-black", "PT Sans", "Arial", sans-serif;
    text-align: center;

}
.banner p, .service p {
    font-family: "opensans-light", "PT Sans", "Arial", sans-serif;
    font-size: 1.4rem;
    text-align: center;

}
div.input-group.input-group-lg.col .input-group-text {
    border-radius: 2px;
    
}
div.input-group.input-group-lg.col input.form-control {
    border-radius: 2px;
}
/* div.input-group.input-group-lg.col:focus {
    border: none;
    box-shadow: none;
} */
.form-control {
    border-radius: 2px;
    border-left: none;
    color: darkgrey;
}
.input-group-text {
    background-color: white;
    border-right: none;
}
.btn-primary.banner-submit {
    background-color: #ffbb42;
    border: none;
    border-radius: 2px;
}
/* .btn-primary:focus, .btn-primary.focus {
    box-shadow: none;
  }
  .btn.btn-primary.btn-lg.banner-submit:focus {
    background-color: #ffbb42;
    border: white;
    border-radius: 2px;
    box-shadow: none;
} */
.btn.btn-primary.btn-lg.banner-submit:active {
  color: #fff;
  background-color: #377369;
  border: none;
  box-shadow: none;
}
/* .form-control{
    outline: none;
} */
.form-control:focus, .form-control:active {
    color: black;
    background-color: #fff;   
    border: 1px solid #ffbb42;
    outline: none;
    box-shadow: none;
  }
.form-control::placeholder {
    color: darkgrey;
    opacity: 1;
  }
.laptop-wrapper {
    display: block;
    background: linear-gradient(to bottom, #709dca 82%, white 82%);
    margin-top: 0;
} 
.laptop-wrapper img {
    display: block;

}
 img.mx-auto.laptop-screen {
position: absolute;
left: 36%;
top: 45%;
}  
.service {
    background-color: #fff;
}
.service .services-list li{
    margin-bottom: 30px;
    display: flex;
    align-items: stretch;
  
}
.service .services-list li span{
    margin-right: 20px;
    color: #709dca;
    -webkit-text-stroke: 2px #709dca;
    -webkit-text-fill-color: white;
    

}
.fa-clock {
    color: #f6772c;
    -webkit-text-stroke: 2px #f6772c;
    -webkit-text-fill-color: white;

}

.service .services-list li h4 {
    text-align: left;
    line-height: 16px;
    font-weight: bold;
    margin-bottom: 10px;

}
.service .services-list li p {
    text-align: left;
    font-family: "opensans-light", "PT Sans", "Arial", sans-serif; 
}
.about-us div {
    border: 1px solid red;
}

.about-us {
    background-color: #ffc155;
}
.image-about-us {
    /* background-image: url('images/about_us.jpg');
    background-size: auto 100%; */
}
.image-about-us img{
    display: flex;
    
}