@font-face {
    font-family: 'Brandon Grotesque';
    src: local('Brandon Grotesque Regular'), local('Brandon-Grotesque-Regular'),
        url('BrandonGrotesque-Regular.woff2') format('woff2'),
        url('BrandonGrotesque-Regular.woff') format('woff'),
        url('BrandonGrotesque-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }